.header {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #e7e7e7;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .firstImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* height: 50%; */
  }
  .aboutImg{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  
  .aboutTitle{
    text-align: center;
  }
  .aboutTitle2{
    text-align: center;
    
  }

  .worksImg{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .column {
    float: left;
    width: 25%;
    
  }
  
  .firstText{
    width: 80%;
    margin: auto;
  }
  .firstText{
    width: 80%;
    margin: auto;
  }
  .firstText{
    width: 80%;
    margin: auto;
  }
 /* Clear floats after the columns */
 
  .row {
    margin-left: 70px;
    margin-right: 70px;
  } 
  .worksTitle{
    text-align: center;
  }