<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="/stylesheet/styles.css" />
      </head>
      <body>
        <nav>
            <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Photo gallery </a></li>
        </nav>
        <h1 class="aboutTitle">About Pedro Pascal</h1>
        <img class="aboutImg" src="/images/pedro-pascal-about.webp" />
        <br>
        <br>
        <br>
        <br>  
        <h2 class="aboutTitle2">Some Info</h2>
        <div class="firstText">
            José Pedro Balmaceda Pascal (born 2 April 1975) is a Chilean-born American actor.
            After nearly two decades of taking small roles in film and television,
            Pascal rose to prominence for portraying Oberyn Martell during the 
            fourth season of the HBO fantasy series Game of Thrones (2014) and Javier Peña
            in the Netflix crime series Narcos (2015-2017). Since 2019, he has starred as the title character in 
            the Disney+ Star Wars series The Mandalorian and again in The Book of Boba Fett (2022). Since 2023, 
            he has played Joel Miller in the HBO drama series The Last of Us. Time magazine named him one of the 100 most
            influential people in the world in 2023.

            Outside of television, Pascal has appeared in the films The Adjustment Bureau (2011), 
            The Great Wall (2016), Kingsman: The Golden Circle (2017), The Equalizer 2 (2018), 
            Triple Frontier (2019), Wonder Woman 1984 (2020), 
            and The Unbearable Weight of Massive Talent (2022).
        </div>
        <br>
        <br>
        <br>
        <h2 class="aboutTitle2">Family Information</h2>
        <div class="firstText">José Pedro Balmaceda Pascal was born on 2 April 1975, in Santiago, Chile. 
          He is the son of child psychologist Verónica Pascal Ureta and fertility doctor
           José Balmaceda Riera. He has an older sister named Javiera, 
           a younger brother named Nicolás, and a younger sister named Lux, 
           who is an actress and transgender activist.[6][7] Pascal's mother was the 
           cousin of Andrés Pascal Allende, the nephew of socialist Chilean President Salvador Allende 
           (through his sister Laura). Andrés was an early leader of the Movement of the Revolutionary Left, 
           a militant far-left organisation.</div>
           <br>
           <br>
           <br>
           <h2 class="aboutTitle2">Personal Life</h2>
           <div class="firstText">
            Pascal is fluent in both English and Spanish and has been a resident of New York City since 1993.
            He developed a close friendship with actress Sarah Paulson soon after moving there.
            Pascal is an advocate of LGBTQ+ rights and was supportive of his sister Lux Pascal when she came
            out as transgender. Lux said, "He has been an important part of this. He is also an artist and has been a guide. 
            He was one of the first to give me the things that formed my identity."
            Pascal identifies as an agnostic and a progressive liberal. He endorsed leftist Gabriel Boric in 
            the 2021 Chilean presidential election.</div>
            <br>
            <br>
            <br>

    
     </body>
    </html>