<!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Works</title>
        <link rel="stylesheet" href="/stylesheet/styles.css" />
      </head>
      <body>
        <nav>
            <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Photo gallery </a></li>
        </nav>
        <br>
        <br>
        <img class = 'worksImg'src="/images/pedro-pascal-characters.webp" />
        <br>
        <br>
        <br>
        <h1 class="worksTitle">Main Characters</h1>
        <br>
    
        <div class="row">
          <div class="column">
            <h3>Joel Miller</h3>
            Joel was a survivor in post-apocalyptic America <br>that had been ravaged by the Cordyceps brain <br>infection. 
            After losing his only daughter Sarah<br> in the early stages of the outbreak, <br>
            Joel became a ruthless and cynical smuggler <br>eventually tasked with smuggling<br> and protecting Ellie Williams, 
            a young girl <br>who was the key to mankind's survival.</div>
            <div class="column">
              <h3>Din Djarin</h3>
                Din Djarin, known as The Mandalorian, 
                or <br>Mando for short, is a fictional character <br>in the Star Wars franchise, 
                who appears <br>as the titular protagonist of the Disney+<br> television series The Mandalorian and also<br> 
                appears in its spin-off The Book of Boba Fett.</div>
            <div class="column">
                <h3>Oberyn Martell</h3>
                Prince Oberyn Martell was a member<br> of House Martell, 
                the younger brother <br>  of Doran Martell
                and the late Elia Martell,<br> 
                and the father of eight bastard girls known<br> as the Sand Snakes. 
                He was well known<br> for his fighting skills, passionate temper, <br>
                and sexual appetites</div>
            
       
                   
                    <div class="column">
                      <h3>Javier Peña</h3>
                      Javier Peña is a former American DEA agent<br> who was a part of the Search Bloc,
                      and was sent to Colombia to hunt down the Medellín Cartel and the Cali Cartel.
                    </div>
          </div>
          <br>
          <br>
          <br>
          <br>
  </body>
    
        <!-- <a href="/home">Go Back Home</a> -->
      </body>
    </html>